USE [Sis_optica]
GO
/****** Object:  Table [dbo].[caja]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caja](
	[id] [int] NULL,
	[caja] [decimal](10, 2) NULL,
	[pagosdia] [decimal](10, 2) NULL,
	[prestado] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[clientes]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clientes](
	[cli_id] [char](10) NOT NULL,
	[cli_numero] [varchar](15) NULL,
	[cli_razon] [varchar](100) NULL,
	[cli_ocupacion] [varchar](50) NULL,
	[cli_sexo] [varchar](5) NULL,
	[cli_direccion] [varchar](100) NULL,
	[cli_telefono] [varchar](90) NULL,
	[nombre] [varchar](250) NULL,
	[direccion] [varchar](250) NULL,
	[telefono] [varchar](250) NULL,
	[garantia] [varchar](250) NULL,
 CONSTRAINT [PK__clientes__FFEFE14FB88B1865] PRIMARY KEY CLUSTERED 
(
	[cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[compras]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compras](
	[com_id] [char](10) NOT NULL,
	[com_tipodoc] [varchar](15) NULL,
	[com_numerodoc] [varchar](15) NULL,
	[com_fecha] [date] NULL,
	[usu_id] [char](5) NULL,
	[prov_id] [char](10) NULL,
	[cod_vend] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[com_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[compras_detalle]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compras_detalle](
	[cd_id] [int] IDENTITY(1,1) NOT NULL,
	[com_id] [char](10) NULL,
	[pro_id] [int] NULL,
	[cd_compra] [decimal](10, 2) NULL,
	[cd_venta] [decimal](10, 2) NULL,
	[cd_cant] [int] NULL,
 CONSTRAINT [PK__compras___D551B536D8B8385E] PRIMARY KEY CLUSTERED 
(
	[cd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[consultorio]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[consultorio](
	[c_id] [int] IDENTITY(1,1) NOT NULL,
	[cli_id] [char](10) NULL,
	[uso_lentes2] [varchar](50) NULL,
	[años2] [varchar](50) NULL,
	[od2] [varchar](50) NULL,
	[oi2] [varchar](50) NULL,
	[addd2] [varchar](50) NULL,
	[dip2] [varchar](50) NULL,
	[recomend2] [varchar](250) NULL,
	[c_fecha] [date] NULL,
	[od_esf] [varchar](5) NULL,
	[od_cil] [varchar](5) NULL,
	[od_eje] [varchar](5) NULL,
	[od_dip] [varchar](5) NULL,
	[id_esf] [varchar](5) NULL,
	[id_cil] [varchar](5) NULL,
	[id_eje] [varchar](5) NULL,
	[id_dip] [varchar](5) NULL,
	[addd] [varchar](20) NULL,
	[pio_od5] [varchar](50) NULL,
	[pio_oi5] [varchar](50) NULL,
	[pio_od10] [varchar](50) NULL,
	[pio_oi10] [varchar](50) NULL,
	[quera_od1] [varchar](50) NULL,
	[quera_od2] [varchar](50) NULL,
	[quera_oi1] [varchar](50) NULL,
	[quera_oi2] [varchar](50) NULL,
	[recomendaciones] [varchar](250) NULL,
	[esp_id] [char](5) NULL,
 CONSTRAINT [PK__consulto__213EE7745A3C5CF2] PRIMARY KEY CLUSTERED 
(
	[c_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[convenios]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[convenios](
	[cv_id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_vende] [varchar](20) NULL,
	[cv_descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[credito]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[credito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cr_pccorrelativo] [varchar](7) NULL,
	[cr_fecha] [smalldatetime] NULL,
	[usu_id] [char](5) NULL,
	[cli_id] [char](10) NULL,
	[cr_monto] [decimal](10, 2) NULL,
	[cr_interes] [decimal](10, 2) NULL,
	[cr_moratotal] [decimal](10, 2) NULL,
	[cr_total] [decimal](10, 2) NULL,
	[cv_id] [int] NULL,
	[vendedor] [varchar](20) NULL,
	[id_caja] [int] NULL,
	[bEstado] [int] NULL,
 CONSTRAINT [PK_credito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[credito_detalle]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[credito_detalle](
	[cdd_id] [int] IDENTITY(1,1) NOT NULL,
	[id_cr_pccorrelativo] [int] NULL,
	[cdd_numero] [int] NULL,
	[cdd_fecha] [smalldatetime] NULL,
	[cdd_fecha_pago] [smalldatetime] NULL,
	[tipo_pago] [varchar](10) NULL,
	[cdd_abono] [decimal](10, 2) NULL,
	[cdd_saldo] [decimal](10, 2) NULL,
	[cdd_mora] [decimal](10, 2) NULL,
	[cdd_estado] [int] NULL,
	[id_caja] [int] NULL,
 CONSTRAINT [PK__credito___9BEF6526FFCAB49F] PRIMARY KEY CLUSTERED 
(
	[cdd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[credito_product]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[credito_product](
	[cp_id] [int] IDENTITY(1,1) NOT NULL,
	[id_cr_pccorrelativo] [int] NULL,
	[cantidad] [int] NULL,
	[pro_id] [int] NULL,
	[adicional] [varchar](100) NULL,
	[adicional_precio] [decimal](10, 2) NULL,
	[precio] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
 CONSTRAINT [PK__credito___1AEC0C8CFFA00461] PRIMARY KEY CLUSTERED 
(
	[cp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[especialista]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[especialista](
	[esp_id] [char](5) NOT NULL,
	[esp_nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[esp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[gastos]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[gastos](
	[ga_id] [int] IDENTITY(1,1) NOT NULL,
	[ga_descripcion] [varchar](100) NULL,
	[ga_total] [decimal](10, 2) NULL,
	[ga_fecha] [smalldatetime] NULL,
	[cod_caja] [int] NULL,
 CONSTRAINT [PK__gastos__1F8F92BE33C0839B] PRIMARY KEY CLUSTERED 
(
	[ga_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Giros]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Giros](
	[id] [varchar](8) NULL,
	[emisor_origen] [varchar](50) NULL,
	[emisor_dni] [varchar](15) NULL,
	[emisor_nombre] [varchar](100) NULL,
	[destino_origen] [varchar](50) NULL,
	[destino_dni] [varchar](15) NULL,
	[destino_nombre] [varchar](100) NULL,
	[monto_giro] [decimal](10, 2) NULL,
	[monto_comision] [decimal](10, 2) NULL,
	[codigo_retiro] [char](4) NULL,
	[fechaHora] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[inicio_sesion]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[inicio_sesion](
	[is_id] [int] IDENTITY(1,1) NOT NULL,
	[u_id] [char](5) NULL,
	[fec_hor_inicio] [smalldatetime] NULL,
	[fec_hor_salida] [smalldatetime] NULL,
	[inicio_caja] [decimal](10, 2) NULL,
	[caja_ventas] [decimal](10, 2) NULL,
	[caja_gastos] [decimal](10, 2) NULL,
	[caja_final] [decimal](10, 2) NULL,
	[caja_sobrantes] [decimal](10, 2) NULL,
	[caja_faltantes] [decimal](10, 2) NULL,
	[vendedor_id] [char](3) NULL,
 CONSTRAINT [PK__inicio_s__ADF81AD3979A89B5] PRIMARY KEY CLUSTERED 
(
	[is_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nota_credito]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nota_credito](
	[nc_id] [int] IDENTITY(1,1) NOT NULL,
	[nc_serie] [varchar](4) NULL,
	[nc_numero] [varchar](7) NULL,
	[v2_fechaHora] [smalldatetime] NULL,
	[v5_tipo_documento] [varchar](5) NULL,
	[v6_numero_doc] [varchar](20) NULL,
	[v7_razon_soci] [varchar](150) NULL,
	[v9_codigo_tipo_nota] [varchar](5) NULL,
	[v10_motivo_sustento] [varchar](100) NULL,
	[v11_doc_que_modifica] [varchar](5) NULL,
	[v12_serie_numero] [varchar](25) NULL,
	[v19_importe_total] [decimal](10, 2) NULL,
	[qr_code] [image] NULL,
	[total_letras] [varchar](200) NULL,
	[cli_direccion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[nc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nota_credito_detalle]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nota_credito_detalle](
	[ncd_id] [int] IDENTITY(1,1) NOT NULL,
	[nc_id] [int] NULL,
	[pro_id] [varchar](20) NULL,
	[vd_precio] [decimal](10, 2) NULL,
	[vd_cant] [decimal](10, 2) NULL,
	[vd_subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ncd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nota_Salida]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nota_Salida](
	[ns_id] [int] NOT NULL,
	[ns_numero] [varchar](8) NULL,
	[ns_fecha] [date] NULL,
	[usu_id] [char](5) NULL,
	[motivo] [varchar](250) NULL,
	[autorizado] [varchar](250) NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ns_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nota_Salida_Detalle]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nota_Salida_Detalle](
	[ns_id] [int] NULL,
	[cant] [decimal](10, 2) NULL,
	[pro_id] [int] NULL,
	[precio] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[productos]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pro_id] [varchar](40) NOT NULL,
	[pro_descripcion] [varchar](210) NULL,
	[pro_stock] [int] NULL,
	[pro_precio] [decimal](10, 2) NULL,
	[elim] [int] NULL,
	[id_familia] [int] NULL,
	[id_linea] [int] NULL,
	[cod_vende] [varchar](3) NULL,
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[productos_familia]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[productos_familia](
	[id_familia] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_productos_familia] PRIMARY KEY CLUSTERED 
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[productos_linea]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[productos_linea](
	[id_linea] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_productos_linea] PRIMARY KEY CLUSTERED 
(
	[id_linea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[proveedores](
	[prov_id] [char](10) NOT NULL,
	[prov_ruc] [varchar](15) NULL,
	[prov_razon] [varchar](100) NULL,
	[prov_direccion] [varchar](100) NULL,
	[prov_telefono] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[prov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_doc]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_doc](
	[td_id] [int] NOT NULL,
	[td_descripcion] [varchar](40) NOT NULL,
 CONSTRAINT [PK__tipo_doc__FFB002ED9A6D0361] PRIMARY KEY CLUSTERED 
(
	[td_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_usuario]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_usuario](
	[tipo_id] [int] NOT NULL,
	[tipo_nombre] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[tipo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuarios](
	[usu_id] [char](5) NOT NULL,
	[usu_dni] [varchar](8) NULL,
	[usu_nombre] [varchar](100) NULL,
	[usu_direccion] [varchar](100) NULL,
	[usu_telefono] [varchar](9) NULL,
	[usu_usuario] [varchar](20) NULL,
	[usu_clave] [varchar](20) NULL,
	[tipo_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[usu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vendedores]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendedores](
	[codigo] [char](3) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Vendedores] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[venta]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[venta](
	[ven_id] [int] NOT NULL,
	[td_id] [int] NULL,
	[ven_serie] [varchar](4) NULL,
	[ven_correlativo] [varchar](7) NULL,
	[ven_fecha] [smalldatetime] NULL,
	[usu_id] [char](5) NULL,
	[cli_id] [char](10) NULL,
	[ven_total] [decimal](10, 2) NULL,
	[ven_pc_ref] [varchar](7) NULL,
	[ven_ley] [varchar](150) NULL,
	[ven_qr_code] [image] NULL,
 CONSTRAINT [PK__venta__7BA8BB697FCAACA9] PRIMARY KEY CLUSTERED 
(
	[ven_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[venta_detalle]    Script Date: 18/08/2020 21:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[venta_detalle](
	[vd_id] [int] IDENTITY(1,1) NOT NULL,
	[ven_id] [int] NULL,
	[pro_id] [int] NULL,
	[adicional] [varchar](50) NULL,
	[vd_precio] [decimal](10, 2) NULL,
	[vd_cant] [int] NULL,
	[vd_subtotal] [decimal](10, 2) NULL,
 CONSTRAINT [PK__venta_de__277BC6C046CAB778] PRIMARY KEY CLUSTERED 
(
	[vd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[caja] ([id], [caja], [pagosdia], [prestado], [total]) VALUES (1, CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[clientes] ([cli_id], [cli_numero], [cli_razon], [cli_ocupacion], [cli_sexo], [cli_direccion], [cli_telefono], [nombre], [direccion], [telefono], [garantia]) VALUES (N'CLI0000001', N'41940042', N'RUTH ROJAS RUIZ', N'INDEPENDIENTE ', N'F', N'CALVO DE ARAUJO 1423', N'979402703', N'-', N'-', N'-', N'-')
INSERT [dbo].[clientes] ([cli_id], [cli_numero], [cli_razon], [cli_ocupacion], [cli_sexo], [cli_direccion], [cli_telefono], [nombre], [direccion], [telefono], [garantia]) VALUES (N'CLI0000002', N'48231872', N'PIERO VALERY', N'MOTOCARRISTA', N'M', N'BOCANEGRA 11', N'', N'--', N'--', N'--', N'--')
INSERT [dbo].[clientes] ([cli_id], [cli_numero], [cli_razon], [cli_ocupacion], [cli_sexo], [cli_direccion], [cli_telefono], [nombre], [direccion], [telefono], [garantia]) VALUES (N'CLI0000003', N'42123618', N'WERHLIN MOZOMBITE ARMAS', N'INDEPENDIENTE', N'M', N'JORGE CHAVEZ 1035', N'947116400', N'--', N'--', N'--', N'--')
INSERT [dbo].[compras] ([com_id], [com_tipodoc], [com_numerodoc], [com_fecha], [usu_id], [prov_id], [cod_vend]) VALUES (N'COM0000001', N'BOLETA', N'01', CAST(0x7A400B00 AS Date), N'U0002', N'PROV000006', N'001')
INSERT [dbo].[compras] ([com_id], [com_tipodoc], [com_numerodoc], [com_fecha], [usu_id], [prov_id], [cod_vend]) VALUES (N'COM0000002', N'BOLETA', N'02', CAST(0x7A400B00 AS Date), N'U0002', N'PROV000006', N'001')
SET IDENTITY_INSERT [dbo].[compras_detalle] ON 

INSERT [dbo].[compras_detalle] ([cd_id], [com_id], [pro_id], [cd_compra], [cd_venta], [cd_cant]) VALUES (1, N'COM0000001', 945, CAST(100.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[compras_detalle] ([cd_id], [com_id], [pro_id], [cd_compra], [cd_venta], [cd_cant]) VALUES (2, N'COM0000002', 945, CAST(100.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[compras_detalle] OFF
SET IDENTITY_INSERT [dbo].[convenios] ON 

INSERT [dbo].[convenios] ([cv_id], [codigo_vende], [cv_descripcion]) VALUES (1, N'001', N'VENTA DEL DIA')
INSERT [dbo].[convenios] ([cv_id], [codigo_vende], [cv_descripcion]) VALUES (2, N'002', N'UGEL MAYNAS')
INSERT [dbo].[convenios] ([cv_id], [codigo_vende], [cv_descripcion]) VALUES (3, N'003', N'CONVENIO 3')
SET IDENTITY_INSERT [dbo].[convenios] OFF
SET IDENTITY_INSERT [dbo].[credito] ON 

INSERT [dbo].[credito] ([id], [cr_pccorrelativo], [cr_fecha], [usu_id], [cli_id], [cr_monto], [cr_interes], [cr_moratotal], [cr_total], [cv_id], [vendedor], [id_caja], [bEstado]) VALUES (1061, N'0000001', CAST(0xABF20417 AS SmallDateTime), N'U0002', N'CLI0000001', CAST(100.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(110.00 AS Decimal(10, 2)), 1, N'U0002', 1, 1)
INSERT [dbo].[credito] ([id], [cr_pccorrelativo], [cr_fecha], [usu_id], [cli_id], [cr_monto], [cr_interes], [cr_moratotal], [cr_total], [cv_id], [vendedor], [id_caja], [bEstado]) VALUES (1062, N'0000002', CAST(0xABF30496 AS SmallDateTime), N'U0002', N'CLI0000002', CAST(100.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(110.00 AS Decimal(10, 2)), 1, N'U0002', 1, 1)
INSERT [dbo].[credito] ([id], [cr_pccorrelativo], [cr_fecha], [usu_id], [cli_id], [cr_monto], [cr_interes], [cr_moratotal], [cr_total], [cv_id], [vendedor], [id_caja], [bEstado]) VALUES (1063, N'0000003', CAST(0xABF5044E AS SmallDateTime), N'U0002', N'CLI0000003', CAST(200.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(220.00 AS Decimal(10, 2)), 1, N'U0002', 1, 1)
SET IDENTITY_INSERT [dbo].[credito] OFF
SET IDENTITY_INSERT [dbo].[credito_detalle] ON 

INSERT [dbo].[credito_detalle] ([cdd_id], [id_cr_pccorrelativo], [cdd_numero], [cdd_fecha], [cdd_fecha_pago], [tipo_pago], [cdd_abono], [cdd_saldo], [cdd_mora], [cdd_estado], [id_caja]) VALUES (3705, 1061, 1, CAST(0xABF30000 AS SmallDateTime), CAST(0xABF30267 AS SmallDateTime), N'EFECTIVO', CAST(10.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[credito_detalle] ([cdd_id], [id_cr_pccorrelativo], [cdd_numero], [cdd_fecha], [cdd_fecha_pago], [tipo_pago], [cdd_abono], [cdd_saldo], [cdd_mora], [cdd_estado], [id_caja]) VALUES (3706, 1061, 2, CAST(0xABF40000 AS SmallDateTime), CAST(0xABF403D7 AS SmallDateTime), N'EFECTIVO', CAST(10.00 AS Decimal(10, 2)), CAST(90.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[credito_detalle] ([cdd_id], [id_cr_pccorrelativo], [cdd_numero], [cdd_fecha], [cdd_fecha_pago], [tipo_pago], [cdd_abono], [cdd_saldo], [cdd_mora], [cdd_estado], [id_caja]) VALUES (3707, 1061, 3, CAST(0xABF50000 AS SmallDateTime), CAST(0xABF403D7 AS SmallDateTime), N'EFECTIVO', CAST(10.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[credito_detalle] OFF
INSERT [dbo].[especialista] ([esp_id], [esp_nombre]) VALUES (N'     ', N'')
INSERT [dbo].[especialista] ([esp_id], [esp_nombre]) VALUES (N'ESP01', N'ALBINO ROMERO GRACIANO')
INSERT [dbo].[especialista] ([esp_id], [esp_nombre]) VALUES (N'ESP02', N'JOEL BOLAÑOS AZAÑA')
SET IDENTITY_INSERT [dbo].[gastos] ON 

INSERT [dbo].[gastos] ([ga_id], [ga_descripcion], [ga_total], [ga_fecha], [cod_caja]) VALUES (2, N'ASDFADFASDFASDF', CAST(20.00 AS Decimal(10, 2)), CAST(0xAB5C03A7 AS SmallDateTime), 2010)
INSERT [dbo].[gastos] ([ga_id], [ga_descripcion], [ga_total], [ga_fecha], [cod_caja]) VALUES (1002, N'DFGSDF', CAST(50.00 AS Decimal(10, 2)), CAST(0xABB00018 AS SmallDateTime), 3013)
SET IDENTITY_INSERT [dbo].[gastos] OFF
SET IDENTITY_INSERT [dbo].[Nota_credito_detalle] ON 

INSERT [dbo].[Nota_credito_detalle] ([ncd_id], [nc_id], [pro_id], [vd_precio], [vd_cant], [vd_subtotal]) VALUES (1, 0, N'', CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Nota_credito_detalle] OFF
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id], [pro_id], [pro_descripcion], [pro_stock], [pro_precio], [elim], [id_familia], [id_linea], [cod_vende]) VALUES (945, N'L1111 C02', N'LAMAR MORADO METAL', 1, CAST(200.00 AS Decimal(10, 2)), 1, 1, 3, N'001')
INSERT [dbo].[productos] ([id], [pro_id], [pro_descripcion], [pro_stock], [pro_precio], [elim], [id_familia], [id_linea], [cod_vende]) VALUES (946, N'CD459 ', N'CARDUCCI GUINDA METAL ', 1, CAST(120.00 AS Decimal(10, 2)), 1, 2, 1, N'001')
INSERT [dbo].[productos] ([id], [pro_id], [pro_descripcion], [pro_stock], [pro_precio], [elim], [id_familia], [id_linea], [cod_vende]) VALUES (947, N'CD474 C3', N'CARDUCCI ROSA METAL ', 1, CAST(120.00 AS Decimal(10, 2)), 1, 1, 2, N'001')
GO
SET IDENTITY_INSERT [dbo].[productos] OFF
SET IDENTITY_INSERT [dbo].[productos_familia] ON 

INSERT [dbo].[productos_familia] ([id_familia], [descripcion]) VALUES (1, N'LUNAS')
INSERT [dbo].[productos_familia] ([id_familia], [descripcion]) VALUES (2, N'MONTURA')
SET IDENTITY_INSERT [dbo].[productos_familia] OFF
SET IDENTITY_INSERT [dbo].[productos_linea] ON 

INSERT [dbo].[productos_linea] ([id_linea], [descripcion]) VALUES (1, N'LINEA1')
INSERT [dbo].[productos_linea] ([id_linea], [descripcion]) VALUES (2, N'LINEA2')
INSERT [dbo].[productos_linea] ([id_linea], [descripcion]) VALUES (3, N'LINEA3')
SET IDENTITY_INSERT [dbo].[productos_linea] OFF
INSERT [dbo].[proveedores] ([prov_id], [prov_ruc], [prov_razon], [prov_direccion], [prov_telefono]) VALUES (N'PROV000005', N'10000', N'RAZON SOCIAL', N'DIRECCION PROVEEDOR', N'193631564')
INSERT [dbo].[proveedores] ([prov_id], [prov_ruc], [prov_razon], [prov_direccion], [prov_telefono]) VALUES (N'PROV000006', N'20502824733', N'INVERSIONES OPTICAS S.A.C.', N'JR ARICA ARICA 323 , INT 2', N'65221334')
INSERT [dbo].[tipo_doc] ([td_id], [td_descripcion]) VALUES (1, N'BOLETA DE VENTA ELECTRONICA')
INSERT [dbo].[tipo_doc] ([td_id], [td_descripcion]) VALUES (2, N'FACTURA ELECTRONICA')
INSERT [dbo].[tipo_usuario] ([tipo_id], [tipo_nombre]) VALUES (1, N'admin')
INSERT [dbo].[tipo_usuario] ([tipo_id], [tipo_nombre]) VALUES (2, N'empleado')
INSERT [dbo].[usuarios] ([usu_id], [usu_dni], [usu_nombre], [usu_direccion], [usu_telefono], [usu_usuario], [usu_clave], [tipo_id]) VALUES (N'U0002', N'0', N'AMADA TORRES', N'2132', N'13213', N'AMADA', N'70754560', 1)
INSERT [dbo].[usuarios] ([usu_id], [usu_dni], [usu_nombre], [usu_direccion], [usu_telefono], [usu_usuario], [usu_clave], [tipo_id]) VALUES (N'U0003', N'0', N'RICARDO TUESTA', N'1900', N'45678', N'RICARDO', N'123', 1)
INSERT [dbo].[Vendedores] ([codigo], [nombre]) VALUES (N'001', N'COOPERATIVA DE CONSUMO')
INSERT [dbo].[Vendedores] ([codigo], [nombre]) VALUES (N'002', N'GRANDE VISION LENS')
INSERT [dbo].[Vendedores] ([codigo], [nombre]) VALUES (N'003', N'OPTICA ROMERO')
SET IDENTITY_INSERT [dbo].[venta_detalle] ON 

INSERT [dbo].[venta_detalle] ([vd_id], [ven_id], [pro_id], [adicional], [vd_precio], [vd_cant], [vd_subtotal]) VALUES (5, 1, 1047, N'', CAST(160.00 AS Decimal(10, 2)), 1, CAST(160.00 AS Decimal(10, 2)))
INSERT [dbo].[venta_detalle] ([vd_id], [ven_id], [pro_id], [adicional], [vd_precio], [vd_cant], [vd_subtotal]) VALUES (6, 2, 1134, N'', CAST(70.00 AS Decimal(10, 2)), 1, CAST(70.00 AS Decimal(10, 2)))
INSERT [dbo].[venta_detalle] ([vd_id], [ven_id], [pro_id], [adicional], [vd_precio], [vd_cant], [vd_subtotal]) VALUES (7, 2, 967, N'', CAST(80.00 AS Decimal(10, 2)), 1, CAST(80.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[venta_detalle] OFF
ALTER TABLE [dbo].[compras]  WITH CHECK ADD  CONSTRAINT [fk_proveedoe] FOREIGN KEY([prov_id])
REFERENCES [dbo].[proveedores] ([prov_id])
GO
ALTER TABLE [dbo].[compras] CHECK CONSTRAINT [fk_proveedoe]
GO
ALTER TABLE [dbo].[compras]  WITH CHECK ADD  CONSTRAINT [fk_usuari] FOREIGN KEY([usu_id])
REFERENCES [dbo].[usuarios] ([usu_id])
GO
ALTER TABLE [dbo].[compras] CHECK CONSTRAINT [fk_usuari]
GO
ALTER TABLE [dbo].[compras_detalle]  WITH CHECK ADD  CONSTRAINT [fk_compra] FOREIGN KEY([com_id])
REFERENCES [dbo].[compras] ([com_id])
GO
ALTER TABLE [dbo].[compras_detalle] CHECK CONSTRAINT [fk_compra]
GO
ALTER TABLE [dbo].[compras_detalle]  WITH CHECK ADD  CONSTRAINT [FK_compras_detalle_productos] FOREIGN KEY([pro_id])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[compras_detalle] CHECK CONSTRAINT [FK_compras_detalle_productos]
GO
ALTER TABLE [dbo].[consultorio]  WITH CHECK ADD  CONSTRAINT [fk_cli] FOREIGN KEY([cli_id])
REFERENCES [dbo].[clientes] ([cli_id])
GO
ALTER TABLE [dbo].[consultorio] CHECK CONSTRAINT [fk_cli]
GO
ALTER TABLE [dbo].[consultorio]  WITH CHECK ADD  CONSTRAINT [fk_espc] FOREIGN KEY([esp_id])
REFERENCES [dbo].[especialista] ([esp_id])
GO
ALTER TABLE [dbo].[consultorio] CHECK CONSTRAINT [fk_espc]
GO
ALTER TABLE [dbo].[credito]  WITH CHECK ADD  CONSTRAINT [fk_cliente] FOREIGN KEY([cli_id])
REFERENCES [dbo].[clientes] ([cli_id])
GO
ALTER TABLE [dbo].[credito] CHECK CONSTRAINT [fk_cliente]
GO
ALTER TABLE [dbo].[credito]  WITH CHECK ADD  CONSTRAINT [FK_credito_convenios] FOREIGN KEY([cv_id])
REFERENCES [dbo].[convenios] ([cv_id])
GO
ALTER TABLE [dbo].[credito] CHECK CONSTRAINT [FK_credito_convenios]
GO
ALTER TABLE [dbo].[credito]  WITH CHECK ADD  CONSTRAINT [fk_usuario] FOREIGN KEY([usu_id])
REFERENCES [dbo].[usuarios] ([usu_id])
GO
ALTER TABLE [dbo].[credito] CHECK CONSTRAINT [fk_usuario]
GO
ALTER TABLE [dbo].[credito_product]  WITH CHECK ADD  CONSTRAINT [FK_credito_product_productos] FOREIGN KEY([pro_id])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[credito_product] CHECK CONSTRAINT [FK_credito_product_productos]
GO
ALTER TABLE [dbo].[inicio_sesion]  WITH CHECK ADD  CONSTRAINT [FK_inicio_sesion_usuarios] FOREIGN KEY([u_id])
REFERENCES [dbo].[usuarios] ([usu_id])
GO
ALTER TABLE [dbo].[inicio_sesion] CHECK CONSTRAINT [FK_inicio_sesion_usuarios]
GO
ALTER TABLE [dbo].[Nota_Salida]  WITH CHECK ADD  CONSTRAINT [fk_usuariio] FOREIGN KEY([usu_id])
REFERENCES [dbo].[usuarios] ([usu_id])
GO
ALTER TABLE [dbo].[Nota_Salida] CHECK CONSTRAINT [fk_usuariio]
GO
ALTER TABLE [dbo].[Nota_Salida_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Nota_Salida_Detalle_productos] FOREIGN KEY([pro_id])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[Nota_Salida_Detalle] CHECK CONSTRAINT [FK_Nota_Salida_Detalle_productos]
GO
ALTER TABLE [dbo].[Nota_Salida_Detalle]  WITH CHECK ADD  CONSTRAINT [fk_notass] FOREIGN KEY([ns_id])
REFERENCES [dbo].[Nota_Salida] ([ns_id])
GO
ALTER TABLE [dbo].[Nota_Salida_Detalle] CHECK CONSTRAINT [fk_notass]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [tipo] FOREIGN KEY([tipo_id])
REFERENCES [dbo].[tipo_usuario] ([tipo_id])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [tipo]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [clien] FOREIGN KEY([cli_id])
REFERENCES [dbo].[clientes] ([cli_id])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [clien]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_tipo_doc] FOREIGN KEY([td_id])
REFERENCES [dbo].[tipo_doc] ([td_id])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_tipo_doc]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [usua] FOREIGN KEY([usu_id])
REFERENCES [dbo].[usuarios] ([usu_id])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [usua]
GO
ALTER TABLE [dbo].[venta_detalle]  WITH CHECK ADD  CONSTRAINT [FK_venta_detalle_productos] FOREIGN KEY([pro_id])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[venta_detalle] CHECK CONSTRAINT [FK_venta_detalle_productos]
GO
